name: Update Pixel Sports Playlist

on:
  schedule:
    # Runs every 2 hours
    - cron: '0 */1 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
          python -m pip install --upgrade pip
          pip install playwright httpx
          playwright install chromium
          pip install playwright-stealth

    - name: Run processing script
      run: |
        # Install xvfb if not present
        sudo apt-get install -y xvfb
        # Run your script through the virtual screen
        xvfb-run --auto-servernum python ppv.py

    - name: Commit and push changes
      run: |
        git config --local user.email "github-actions[bot]@users.noreply.github.com"
        git config --local user.name "github-actions[bot]"
        git add movies_library.m3u
        # The '|| exit 0' ensures the workflow doesn't fail if there are no changes to commit
        git commit -m "Auto-update playlist: $(date)" || exit 0
        git push
